        .jumbotron{
            background-image: url("https://s1.tuchong.com/welcome-image/small/27091117.jpg"); 
            background-size: cover;
            order: 1;
            border-radius: 0px !important;
        }
        .jumbotron h1{
            text-align: center;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-margin-before: 1.83em;
            -webkit-margin-after: 0.83em;
            color: white !important;
            font-size: 45px !important;
            margin-top: 23vh;
            text-align: center;
        }
        .jumbotron p{
            text-align: center;
        }
        .container .first{
            order: 2;
            word-wrap: break-word;
        }
        .container h2{
            text-align:center;
            color: #515457;
            font-size: 30px;
            margin-top: 5vh;
            order: 1;
        }
        .container p{
            text-align:center;
            color: #515457;
            font-size: 20px;
            order: 2;
            margin-top: 3vh;
        }
        .container .second{
            order: 3;
            text-align:center;
        }
        body{
            background: #f3f5f6;
        }
    
        #landscape{
            display: block;
        }
    
        #beauty{
            display: block;
        }
    
        #skyscraper{
            display: block;
        }
    
    .Collage {
    /* define how much padding you want in between your images */
        padding:5px;
        background: #f3f5f6;
        order: 4;
        
    }
    

    .Collage img{
        /* ensures padding at the bottom of the image is correct */
        vertical-align:bottom;
        /* hide the images until the plugin has run. the plugin will reveal the images*/
        opacity: 1;
    }
    .Image_Wrapper{
        /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
        opacity:0;
        -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .Image_Wrapper .hovereffect{
        width:100%;
        height:100%;
        float:right;
        overflow:hidden;
        position:relative;
        text-align:center;
        cursor:default;
    }
    .Image_Wrapper .hovereffect .overlay{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0,0,0,0.1);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out;
        z-index: 99;
    }
    .Image_Wrapper .hovereffect .overlay_shadow{
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0,0,0,0.1);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out;
        
    }
    .Image_Wrapper .hovereffecrt img {
        display:block;
        position:relative;
        -webkit-transition:all .4s linear;
        transition:all .4s linear;
    }
    .Image_Wrapper .hovereffect h2 {
        color:#fff;
        text-align:center;
        position:relative;
        font-size:17px;
        background:rgba(0,0,0,0);
        -webkit-transform:translatey(-100px);
        -ms-transform:translatey(-100px);
        transform:translatey(-100px);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        margin-top: 5px;
        padding:5px;
    }
     .Image_Wrapper .hovereffect .info {
        text-decoration:none;
        display:inline-block;
        text-transform:uppercase;
        color:#fff;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        background-color:transparent;
        opacity:0;
        filter:alpha(opacity=0);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        margin-top:5%;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

    .Image_Wrapper .hovereffect .info .users {
        width: 55px !important;
        height: 55px !important;
        background-size: cover;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        margin-top: 0;
        border-style: none !important;
        z-index: 500;
    }

    .Image_Wrapper .hovereffect .info:hover {
        box-shadow:0 0 100px #fff;
        
    }

    .Image_Wrapper .hovereffect:hover .overlay {
        opacity:1;
        filter:alpha(opacity=100);
        
    }
    .Image_Wrapper .hovereffect:hover .overlay_shadow{
        opacity:1;
        filter:alpha(opacity=100);
        
    }
    .Image_Wrapper .hovereffect:hover h2,.hovereffect:hover .info {
        opacity:1;
        filter:alpha(opacity=100);
        -ms-transform:translatey(0);
        -webkit-transform:translatey(0);
        transform:translatey(0);
        
    }
    .Image_Wrapper .hovereffect:hover .info {
        -webkit-transition-delay:.2s;
        transition-delay:.2s;
        z-index: 500;
    }